/SQLParser/SQLParser/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SQLParser/SQLParser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SQLParser/SQLParser/obj/Debug/SQLParser.csproj.CoreCompileInputs.cache
/SQLParser/SQLParser/obj/Debug/SQLParser.csprojAssemblyReference.cache
/SQLParser/SQLParser/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SQLParser/SQLParser/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SQLParser/SQLParser/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
